header {
    background-color: rgb(86, 42, 207);
    color: white;
    text-align: center;
    padding: 30px;
}

.container {
    margin: 1.2em auto;
}

.city-today {
    border: 1px solid black;
    height: 40%;
}

.five-day-forecast {
    margin-top: 2%;
    height: 60%;
}

button {
    list-style-type: none;
    text-align: center;
    background-color: #c0c0c0;
    padding: .9rem;
    font-size: 22px;
    font-weight: normal;
    border-radius: 5px;
    width: 100%;
}

.citybtn {
    margin: 10px auto;
}

#icon {
    height: auto;
    width: auto;
}

.city-icon-wrappers {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#five-day-header {
    height: 10%;
}

#five-day-container {
    height: 80%;
    flex-direction: column;
}

.day-containers {
    border: 1px solid black;
    margin: 2% auto;
    background-color: rgb(18, 18, 53);
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

span {
    font-weight: bold;
}

#clear-search {
    margin: 5% auto;
}